!!!
%html
  %head
    %title= "LSRC 2011"
    %script{:type => "text/javascript", :src => "js/jquery.js"}
    %script{:type => "text/javascript", :src => "js/jquery.gritter.min.js"}
    %link{:rel => "stylesheet", :href => "css/jquery.gritter.css"}
    
  %body
    #container
      #header
        #logo
      #content= yield
  #footer
    %p#legal= "&mdash; &copy; #{Time.now.strftime('%Y')} Tropo &mdash;"