%table
  %thead
    %tr
      %th
        Name
      %th
        Phone
      %th
        Email
      %th
        Won
  %tbody
  -@registrations.each do |each|
    %tr
      %td
        =each["doc"]["name"]
      %td
        =each["doc"]["phone_number"]
      %td
        =each["doc"]["email"]        
      %td
        =each["doc"]["has_won"]