/%script{:type => "text/javascript", :src => "js/vcmTable.js"}
%style{:type => "text/css"}
  :plain
    body {
      background-color: #7c7c7c;
      background-image: url(/images/bg.jpg);
      background-position: center -200px;
      background-repeat: no-repeat;
      background-size: 100% auto;
      color: #222222;
    }
    #logo{
      position: relative;
      left: 50%;
    }
#logo
  %img{:src => "images/lsrc.png", :alt => ""}/
